.container{
  display: flex;
  justify-content: space-between;
} 
.edit{
  margin-left: 10px;
}


.error{
  color: red;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.app{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 100px;
}


.todo-container{
  width: 600px;
}

.todo-item{
  display: flex;
  justify-content: space-between;
}

.todo-item svg{
  width: 16px;
  cursor: pointer;  
}

.todo-item span{
  -webkit-text-stroke: 1px black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.todo-item span.complete{
 text-decoration: line-through;
}

.action-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.action-footer .action span{
  cursor: pointer;
  color: green;
  margin-right: 10px;
  padding: 0 5px; 
  border: 1px solid transparent;
}

.action-footer .action span.active{
  border-color: green;
}

